<script lang="ts">
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import {
  ComparisonHero,
  ComparisonAnalysis,
  CompetitorCards,
  TabsIntro,
  Legend,
} from '~/components/competition/index.vue';
import { NextStep } from '~/components/common/index';

import { getPageMetadata } from '~/common/meta';

export default Vue.extend({
  components: {
    ComparisonHero,
    ComparisonAnalysis,
    NextStep,
    CompetitorCards,
    TabsIntro,
    Legend,
  },
  async asyncData({ $content, params, error }: any) {
    try {
      if (params.slug === 'template') return error({ statusCode: 404 });
      const templateData = await $content(`competition/template`).fetch();
      const comparisonData = await $content(
        `competition/${params.slug}`,
      ).fetch();

      const data = {
        templateData,
        comparisonData,
      };

      return { data };
    } catch (e) {
      return error({ statusCode: 404 });
    }
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).data.comparisonData, this.$route.path);
  },
});
</script>

<template>
  <div>
    <ComparisonHero :comparison-data="data.comparisonData.hero" />
    <SlpContainer>
      <TabsIntro :data="data.comparisonData.intro" />
    </SlpContainer>
    <ComparisonAnalysis
      v-if="data.comparisonData.analysis"
      :template-data="data.templateData.analysis"
      :comparison-data="data.comparisonData.analysis"
    />
    <SlpContainer>
      <Legend :data="data.templateData.legend" class="legend-card" />
    </SlpContainer>
    <SlpContainer
      v-if="data.comparisonData.competitor_cards"
      variant="light-purple-100"
      class="slp-my-96"
    >
      <CompetitorCards :data="data.comparisonData.competitor_cards" />
    </SlpContainer>
    <SlpContainer class="slp-mt-96 next-steps__container" variant="gradient">
      <NextStep />
    </SlpContainer>
    <SlpSideButton data-ga-name="to-top" data-ga-location="body" />
  </div>
</template>

<style scoped lang="scss">
.slp-top-btn {
  @media (max-width: $breakpoint-md) {
    display: none;
  }
}

.next-steps__container {
  @media (max-width: $breakpoint-md) {
    margin-top: 40px;
  }
}
.legend-card {
  border: 1px solid $color-surface-200;
  width: 50%;
  border-radius: $border-radius-4;
  padding: $spacing-32;
  margin-left: 16px;

  @media (max-width: $breakpoint-md) {
    width: 100%;
    margin-left: 0;
  }
}
</style>
