<script lang="ts">
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import {
  ComparisonHero,
  TabsIntro,
  Legend,
  TabAnalysis,
  CompetitorCards,
} from '~/components/competition/index.vue';
import { NextStep } from '~/components/common/index';

import { getPageMetadata } from '~/common/meta';

export default Vue.extend({
  components: {
    ComparisonHero,
    NextStep,
    TabsIntro,
    Legend,
    CompetitorCards,
    TabAnalysis,
  },
  async asyncData({ $content, error }: any) {
    try {
      const templateData = await $content(`competition/template`).fetch();
      const githubData = await $content(`competition/github`).fetch();

      const data = {
        templateData,
        githubData,
      };

      return { data };
    } catch (e) {
      return error({ statusCode: 404 });
    }
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).data.githubData, this.$route.path);
  },
});
</script>

<template>
  <div>
    <ComparisonHero :comparison-data="data.githubData.hero" />
    <SlpContainer>
      <TabsIntro :data="data.githubData.intro" />
    </SlpContainer>
    <div class="table-wrapper">
      <SlpContainer>
        <TabAnalysis :data="data.githubData.analysis" />
      </SlpContainer>
    </div>
    <SlpContainer>
      <Legend :data="data.templateData.legend" class="legend-card" />
    </SlpContainer>
    <SlpContainer variant="light-purple-100" class="slp-my-96">
      <CompetitorCards :data="data.githubData.competitor_cards" />
    </SlpContainer>
    <SlpContainer class="slp-mt-96 next-steps__container" variant="gradient">
      <NextStep />
    </SlpContainer>
    <SlpSideButton data-ga-name="to-top" data-ga-location="body" />
  </div>
</template>

<style scoped lang="scss">
.slp-top-btn {
  @media (max-width: $breakpoint-md) {
    display: none;
  }
}

.next-steps__container {
  @media (max-width: $breakpoint-md) {
    margin-top: 40px;
  }
}

.legend-card {
  border: 1px solid $color-surface-200;
  width: 50%;
  border-radius: $border-radius-4;
  margin: 0;
  padding: $spacing-32;

  @media (max-width: $breakpoint-md) {
    width: 100%;
  }
}
.table-wrapper {
  overflow: hidden;
}
</style>
