<script>
export default {
  name: 'SlpCalendar',
};
</script>

<template>
  <svg
    width="16"
    height="16"
    viewBox="0 0 16 16"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M14.9345 6.26242H1.06566C0.895921 6.26242 0.733134 6.19499 0.613111 6.07497C0.493088 5.95495 0.425659 5.79216 0.425659 5.62242C0.425659 5.45268 0.493088 5.2899 0.613111 5.16987C0.733134 5.04985 0.895921 4.98242 1.06566 4.98242H14.9345C15.1042 4.98242 15.267 5.04985 15.387 5.16987C15.507 5.2899 15.5745 5.45268 15.5745 5.62242C15.5745 5.79216 15.507 5.95495 15.387 6.07497C15.267 6.19499 15.1042 6.26242 14.9345 6.26242Z"
    />
    <path
      d="M13.6545 16H2.34566C1.83644 16 1.34808 15.7977 0.988014 15.4376C0.627944 15.0776 0.425659 14.5892 0.425659 14.08V7.5648C0.425659 7.39507 0.493088 7.23228 0.613111 7.11226C0.733134 6.99223 0.895921 6.9248 1.06566 6.9248C1.2354 6.9248 1.39818 6.99223 1.51821 7.11226C1.63823 7.23228 1.70566 7.39507 1.70566 7.5648V14.08C1.70566 14.2497 1.77309 14.4125 1.89311 14.5326C2.01313 14.6526 2.17592 14.72 2.34566 14.72H13.6545C13.8242 14.72 13.987 14.6526 14.107 14.5326C14.227 14.4125 14.2945 14.2497 14.2945 14.08V7.5648C14.2945 7.39507 14.3619 7.23228 14.4819 7.11226C14.6019 6.99223 14.7647 6.9248 14.9345 6.9248C15.1042 6.9248 15.267 6.99223 15.387 7.11226C15.507 7.23228 15.5745 7.39507 15.5745 7.5648V14.08C15.5745 14.5892 15.3722 15.0776 15.0121 15.4376C14.652 15.7977 14.1637 16 13.6545 16Z"
    />
    <path
      d="M1.06566 6.26258C0.895921 6.26258 0.733134 6.19515 0.613111 6.07513C0.493088 5.9551 0.425659 5.79232 0.425659 5.62258V3.06258C0.425659 2.55336 0.627944 2.065 0.988014 1.70493C1.34808 1.34486 1.83644 1.14258 2.34566 1.14258H11.7633C11.933 1.14258 12.0958 1.21001 12.2158 1.33003C12.3358 1.45005 12.4033 1.61284 12.4033 1.78258C12.4033 1.95232 12.3358 2.1151 12.2158 2.23513C12.0958 2.35515 11.933 2.42258 11.7633 2.42258H2.34566C2.17592 2.42258 2.01313 2.49001 1.89311 2.61003C1.77309 2.73005 1.70566 2.89284 1.70566 3.06258V5.62258C1.70566 5.79232 1.63823 5.9551 1.51821 6.07513C1.39818 6.19515 1.2354 6.26258 1.06566 6.26258Z"
    />
    <path
      d="M14.9344 6.26258C14.7646 6.26258 14.6018 6.19515 14.4818 6.07513C14.3618 5.9551 14.2944 5.79232 14.2944 5.62258V3.06258C14.2944 2.89284 14.2269 2.73005 14.1069 2.61003C13.9869 2.49001 13.8241 2.42258 13.6544 2.42258H11.7632C11.5934 2.42258 11.4306 2.35515 11.3106 2.23513C11.1906 2.1151 11.1232 1.95232 11.1232 1.78258C11.1232 1.61284 11.1906 1.45005 11.3106 1.33003C11.4306 1.21001 11.5934 1.14258 11.7632 1.14258H13.6544C14.1636 1.14258 14.6519 1.34486 15.012 1.70493C15.3721 2.065 15.5744 2.55336 15.5744 3.06258V5.62258C15.5744 5.79232 15.5069 5.9551 15.3869 6.07513C15.2669 6.19515 15.1041 6.26258 14.9344 6.26258Z"
    />
    <path
      d="M4.2368 3.5424C4.06706 3.5424 3.90428 3.47497 3.78425 3.35495C3.66423 3.23492 3.5968 3.07214 3.5968 2.9024V0.64C3.5968 0.470261 3.66423 0.307475 3.78425 0.187452C3.90428 0.0674284 4.06706 0 4.2368 0C4.40654 0 4.56933 0.0674284 4.68935 0.187452C4.80937 0.307475 4.8768 0.470261 4.8768 0.64V2.9024C4.8768 3.07214 4.80937 3.23492 4.68935 3.35495C4.56933 3.47497 4.40654 3.5424 4.2368 3.5424Z"
    />
    <path
      d="M11.7632 3.5424C11.5934 3.5424 11.4306 3.47497 11.3106 3.35495C11.1906 3.23492 11.1232 3.07214 11.1232 2.9024V0.64C11.1232 0.470261 11.1906 0.307475 11.3106 0.187452C11.4306 0.0674284 11.5934 0 11.7632 0C11.9329 0 12.0957 0.0674284 12.2157 0.187452C12.3357 0.307475 12.4032 0.470261 12.4032 0.64V2.9024C12.4032 3.07214 12.3357 3.23492 12.2157 3.35495C12.0957 3.47497 11.9329 3.5424 11.7632 3.5424Z"
    />
    <path
      d="M8.68799 9.70236H7.312C7.14226 9.70236 6.97947 9.63494 6.85945 9.51491C6.73943 9.39489 6.672 9.2321 6.672 9.06236C6.672 8.89262 6.73943 8.72984 6.85945 8.60982C6.97947 8.48979 7.14226 8.42236 7.312 8.42236H8.68799C8.85773 8.42236 9.02052 8.48979 9.14054 8.60982C9.26057 8.72984 9.32799 8.89262 9.32799 9.06236C9.32799 9.2321 9.26057 9.39489 9.14054 9.51491C9.02052 9.63494 8.85773 9.70236 8.68799 9.70236Z"
    />
    <path
      d="M8.68799 12.5569H7.312C7.14226 12.5569 6.97947 12.4894 6.85945 12.3694C6.73943 12.2494 6.672 12.0866 6.672 11.9169C6.672 11.7471 6.73943 11.5843 6.85945 11.4643C6.97947 11.3443 7.14226 11.2769 7.312 11.2769H8.68799C8.85773 11.2769 9.02052 11.3443 9.14054 11.4643C9.26057 11.5843 9.32799 11.7471 9.32799 11.9169C9.32799 12.0866 9.26057 12.2494 9.14054 12.3694C9.02052 12.4894 8.85773 12.5569 8.68799 12.5569Z"
    />
    <path
      d="M11.9905 9.70236H10.6177C10.4479 9.70236 10.2851 9.63494 10.1651 9.51491C10.0451 9.39489 9.97766 9.2321 9.97766 9.06236C9.97766 8.89262 10.0451 8.72984 10.1651 8.60982C10.2851 8.48979 10.4479 8.42236 10.6177 8.42236H11.9905C12.1602 8.42236 12.323 8.48979 12.443 8.60982C12.563 8.72984 12.6305 8.89262 12.6305 9.06236C12.6305 9.2321 12.563 9.39489 12.443 9.51491C12.323 9.63494 12.1602 9.70236 11.9905 9.70236Z"
    />
    <path
      d="M5.38243 12.5569H4.00963C3.83989 12.5569 3.6771 12.4894 3.55708 12.3694C3.43706 12.2494 3.36963 12.0866 3.36963 11.9169C3.36963 11.7471 3.43706 11.5843 3.55708 11.4643C3.6771 11.3443 3.83989 11.2769 4.00963 11.2769H5.38243C5.55217 11.2769 5.71495 11.3443 5.83498 11.4643C5.955 11.5843 6.02243 11.7471 6.02243 11.9169C6.02243 12.0866 5.955 12.2494 5.83498 12.3694C5.71495 12.4894 5.55217 12.5569 5.38243 12.5569Z"
    />
  </svg>
</template>
