<script lang="ts">
import Vue from 'vue';
import { numberToDigitString } from '../../common/util';
import { CarouselWrap } from '../common/index.vue';
import CaseStudyQuote from './case-study-quote.vue';

export default Vue.extend({
  name: 'QuotesCarousel',
  components: { CarouselWrap, CaseStudyQuote },
  props: {
    data: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      step: 0,
    };
  },
  computed: {
    formattedStep() {
      return `${numberToDigitString(this.step + 1)} - ${numberToDigitString(
        this.data.quotes.length,
      )}`;
    },
  },
  methods: {
    goNext() {
      this.$refs.carousel.next();
      this.step = this.step >= this.data.quotes.length - 1 ? 0 : this.step + 1;
    },
    goPrev() {
      this.$refs.carousel.prev();
      this.step = this.step <= 0 ? this.data.quotes.length - 1 : this.step - 1;
    },
  },
});
</script>

<template>
  <section
    id="quotes"
    class="quotes-carousel"
    aria-roledescription="carousel"
    aria-label="Customer quotes"
    aria-live="polite"
  >
    <SlpContainer>
      <div>
        <div class="quotes-carousel__header">
          <SlpTypography v-if="data.header" tag="h2" variant="heading2-bold"
            >{{ data.header }}
          </SlpTypography>
          <SlpButton
            v-if="data.header_link"
            variant="tertiary"
            :href="data.header_link.url"
            :data-ga-name="data.header_link.data_ga_name"
            :data-ga-location="data.header_link.data_ga_location"
          >
            {{ data.header_link.text }}
            <SlpIcon
              class="slp-ml-8"
              name="chevron-lg-right"
              variant="product"
              alt="Chevron Right Icon"
            />
          </SlpButton>
        </div>
        <CarouselWrap
          ref="carousel"
          role="group"
          :aria-label="`Quote ${step + 1} of ${data.quotes.length}`"
          aria-roledescription="Quote"
          :items="data.quotes"
        >
          <template #content>
            <template v-if="$refs.carousel">
              <CaseStudyQuote
                v-for="quoteNumber in $refs.carousel.itemIndexes"
                :key="`quote-${quoteNumber}`"
                class="quotes-carousel__quote"
                :data="data.quotes[quoteNumber]"
                :logo="true"
              />
            </template>
          </template>
        </CarouselWrap>
        <div v-if="data.quotes.length > 1" class="quotes-carousel__footer">
          <SlpTypography tag="span" variant="body1">{{
            formattedStep
          }}</SlpTypography>
          <div>
            <SlpButton
              class="slp-color-primary-200"
              variant="icon"
              aria-label="Previous quote"
              aria-controls="quotes"
              @click.native="goPrev()"
            >
              <SlpIcon
                name="chevron-lg-left"
                variant="product"
                alt="Chevron Right Icon"
              />
            </SlpButton>
            <SlpButton
              class="slp-color-primary-200"
              variant="icon"
              aria-label="Next quote"
              aria-controls="quotes"
              @click.native="goNext()"
            >
              <SlpIcon
                class="slp-ml-8"
                name="chevron-lg-right"
                variant="product"
                alt="Chevron Right Icon"
              />
            </SlpButton>
          </div>
        </div>
      </div>
    </SlpContainer>
  </section>
</template>

<style scoped lang="scss">
.quotes-carousel {
  margin: $spacing-96 0;

  &__header {
    display: flex;
    flex-direction: column;
    padding-bottom: $spacing-32;
    border-bottom: 2px solid $color-surface-400;

    @media (min-width: $breakpoint-md) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    &:deep a {
      @media (max-width: $breakpoint-md) {
        padding-left: 0;
      }
    }
  }

  &__quote {
    display: inline-flex;
    margin-right: $spacing-16;
    flex: 0 0 100%;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $spacing-16 0;
  }
}
</style>
