<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'ComparisonPane',
  props: {
    comparisonData: {
      type: Object,
      required: true,
      default: null,
    },
  },
  data() {
    return {
      baseHarveyUrl: '/nuxt-images/competition/progress-bars/',
      progressBarAltTextBase:
        'Progress bar that shows the current feature capability as ',
    };
  },
  methods: {
    progressBarLegend(value: Number) {
      switch (value) {
        case 0:
          return 'little or no capability';
        case 25:
          return 'basic';
        case 50:
          return 'adequate';
        case 75:
          return 'good';
        case 100:
          return 'comprehensive';
        default:
          return null;
      }
    },
  },
});
</script>

<template>
  <div class="analysis-pane">
    <div class="analysis-pane-title">
      <SlpTypography variant="heading5-bold">{{
        comparisonData.title
      }}</SlpTypography>
      <nuxt-img
        v-if="comparisonData.harvey !== undefined"
        class="slp-mt-8 comparison__img"
        loading="lazy"
        :alt="`${progressBarAltTextBase}${progressBarLegend(
          comparisonData.harvey,
        )}`"
        :src="`${baseHarveyUrl}${comparisonData.harvey}.svg`"
      />
    </div>
    <SlpTypography class="slp-mt-32" variant="body1-bold" tag="p">{{
      comparisonData.description
    }}</SlpTypography>
    <div v-for="section in comparisonData.sections" :key="section.title">
      <SlpTypography variant="body1-bold" tag="p" class="slp-mt-48">
        {{ section.title }}
      </SlpTypography>
      <div class="content" v-html="$md.render(section.content)">
        {{ section.content }}
      </div>
    </div>
    <div v-if="comparisonData.additional !== undefined" class="slp-mt-48">
      <SlpTypography variant="heading5-bold" tag="p">
        {{ comparisonData.additional.title }}
      </SlpTypography>
      <div
        class="content"
        v-html="$md.render(comparisonData.additional.content)"
      >
        {{ comparisonData.additional.content }}
      </div>
    </div>
    <SlpButton
      v-if="comparisonData.button"
      class="zero-padding slp-mt-64"
      variant="tertiary"
      :href="comparisonData.button.link"
      :data-ga-name="comparisonData.button?.data_ga_name"
      :data-ga-location="comparisonData.button?.data_ga_location"
    >
      {{ comparisonData.button.title }}
      <SlpIcon
        name="chevron-lg-right"
        variant="product"
        alt="Chevron Right Icon"
      />
    </SlpButton>
  </div>
</template>

<style scoped lang="scss">
.content {
  margin-left: $spacing-16;
  &:deep ul {
    list-style: disc;

    li {
      margin-left: $spacing-24;
    }
  }

  &:deep li {
    margin-top: $spacing-8;
  }
}

.zero-padding {
  padding-left: 0px;
}

ul {
  margin-left: $spacing-24;
  list-style: disc;

  li {
    margin-top: $spacing-16;

    &:first-child {
      margin-top: $spacing-24;
    }
  }
}

.analysis-pane {
  padding: $spacing-32 $spacing-24 $spacing-48 $spacing-24;

  .comparison__img {
    min-width: 120px;
  }
}

.analysis-pane-title {
  display: flex;
  flex-direction: column;
  align-items: center;

  .slp-icon {
    width: 32px;
    height: 32px;
  }

  @media (max-width: $breakpoint-md) {
    display: none;
  }
}
</style>
