<script>
export default {
  name: 'SlpEventNavigationLogo',
};
</script>

<template>
  <svg
    width="88"
    height="60"
    viewBox="0 0 88 60"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g clip-path="url(#clip0)">
      <path
        d="M58.5495 58.5499C74.3636 58.5499 87.1835 45.6271 87.1835 29.6861C87.1835 13.745 74.3636 0.822266 58.5495 0.822266C42.7354 0.822266 29.9156 13.745 29.9156 29.6861C29.9156 45.6271 42.7354 58.5499 58.5495 58.5499Z"
        fill="#FC6D26"
      />
      <path
        d="M30.2464 46.4761L28.9385 44.0242C26.811 39.5487 25.7066 34.6491 25.7066 29.6862C25.7066 24.7234 26.811 19.8238 28.9385 15.3483V0.822266H17.4333C15.3097 2.20019 13.0442 3.34224 10.6766 4.22845C7.93746 5.20602 5.12937 5.975 2.27602 6.52892V16.2858H13.2334V46.4761H0.814941V59.178H39.3479V56.5373C35.6583 53.852 32.5596 50.4265 30.2464 46.4761Z"
        fill="#FC6D26"
      />
      <path
        d="M58.5542 45.0207L74.2259 33.5486C74.4363 33.3938 74.5929 33.176 74.6731 32.9262C74.7534 32.6763 74.7532 32.4073 74.6727 32.1576L69.2758 15.4062C69.2346 15.2818 69.1557 15.1736 69.0501 15.0969C68.9446 15.0203 68.8178 14.979 68.6877 14.979C68.5576 14.979 68.4308 15.0203 68.3253 15.0969C68.2197 15.1736 68.1408 15.2818 68.0996 15.4062L64.5139 26.5344H64.5134L52.5953 26.5407L49.001 15.4063C48.9598 15.2819 48.8809 15.1737 48.7753 15.097C48.6698 15.0204 48.543 14.9791 48.4129 14.9791C48.2828 14.9791 48.156 15.0204 48.0505 15.097C47.9449 15.1737 47.866 15.2819 47.8248 15.4063L42.4279 32.1577C42.3474 32.4074 42.3472 32.6765 42.4274 32.9263C42.5077 33.1761 42.6642 33.394 42.8747 33.5487L58.5542 45.0207Z"
        fill="#380D75"
      />
      <path
        d="M39.3486 59.9997H0.815687C0.59936 59.9997 0.391896 59.913 0.238926 59.7589C0.0859552 59.6047 1.04234e-05 59.3955 0 59.1775V46.4756C0 46.2575 0.085936 46.0484 0.238908 45.8942C0.391879 45.74 0.599353 45.6534 0.815687 45.6534H12.4184V17.1074H2.27677C2.06046 17.1074 1.85302 17.0208 1.70006 16.8666C1.54709 16.7124 1.46113 16.5034 1.46108 16.2853V6.52856C1.46108 6.33894 1.52609 6.15515 1.64511 6.0083C1.76413 5.86146 1.92984 5.7606 2.11417 5.72281C4.92662 5.17602 7.69467 4.41847 10.3953 3.45644C12.7073 2.58949 14.9199 1.4739 16.9948 0.128986C17.126 0.0444612 17.2784 -0.000465489 17.4342 -0.00048828H28.9394C29.0465 -0.000493485 29.1526 0.020776 29.2516 0.0621044C29.3506 0.103433 29.4405 0.164011 29.5162 0.240379C29.592 0.316748 29.6521 0.407411 29.6931 0.50719C29.7341 0.60697 29.7552 0.713911 29.7551 0.821907V14.7571C29.7551 14.9752 29.6692 15.1843 29.5162 15.3385C29.3633 15.4927 29.1558 15.5794 28.9395 15.5794C28.7231 15.5794 28.5156 15.4927 28.3627 15.3385C28.2097 15.1843 28.1238 14.9752 28.1238 14.7571V1.64414H17.6712C15.5562 2.99557 13.3067 4.12012 10.9595 4.99942C8.39213 5.9192 5.76316 6.65382 3.09246 7.19771V15.4629H13.2341C13.3412 15.4629 13.4473 15.4842 13.5462 15.5255C13.6452 15.5669 13.7351 15.6274 13.8109 15.7038C13.8866 15.7802 13.9467 15.8708 13.9877 15.9706C14.0287 16.0704 14.0498 16.1773 14.0498 16.2853V46.4756C14.0497 46.6937 13.9638 46.9028 13.8108 47.057C13.6579 47.2112 13.4504 47.2978 13.2341 47.2979H1.63134V58.3553H38.5329V57.1945C38.5329 56.9764 38.6189 56.7673 38.7719 56.6131C38.9248 56.4589 39.1323 56.3723 39.3486 56.3723C39.565 56.3723 39.7724 56.4589 39.9254 56.6131C40.0784 56.7673 40.1643 56.9764 40.1643 57.1945V59.1777C40.1642 59.3957 40.0783 59.6048 39.9253 59.7589C39.7723 59.9131 39.5649 59.9997 39.3486 59.9997Z"
        fill="#380D75"
      />
      <path
        d="M58.5503 59.3719C52.7257 59.3719 47.0319 57.6309 42.189 54.369C37.346 51.107 33.5714 46.4707 31.3424 41.0463C29.1135 35.6219 28.5303 29.653 29.6666 23.8945C30.8029 18.136 33.6077 12.8465 37.7263 8.69483C41.8449 4.54317 47.0923 1.71586 52.805 0.570421C58.5176 -0.575019 64.4389 0.0128623 69.8201 2.25972C75.2013 4.50658 79.8007 8.31151 83.0367 13.1933C86.2727 18.0752 87.9998 23.8147 87.9998 29.686C87.991 37.5564 84.8854 45.102 79.3645 50.6673C73.8435 56.2325 66.3581 59.363 58.5503 59.3719ZM58.5503 1.64417C53.0483 1.64421 47.67 3.28886 43.0953 6.37014C38.5206 9.45141 34.9551 13.8309 32.8497 18.9549C30.7442 24.0788 30.1933 29.7171 31.2667 35.1566C32.3401 40.5961 34.9896 45.5926 38.8801 49.5143C42.7705 53.436 47.7273 56.1066 53.1235 57.1886C58.5197 58.2706 64.1131 57.7152 69.1962 55.5928C74.2793 53.4704 78.6239 49.8762 81.6806 45.2648C84.7373 40.6534 86.3688 35.2318 86.3688 29.6857C86.3603 22.2512 83.4268 15.1236 78.2116 9.8667C72.9964 4.60975 65.9256 1.65272 58.5503 1.64433V1.64417Z"
        fill="#380D75"
      />
      <path
        d="M58.5543 45.8429C58.3821 45.843 58.2144 45.7881 58.0751 45.6862L42.3956 34.2141C42.045 33.9578 41.7841 33.596 41.6505 33.1808C41.517 32.7656 41.5175 32.3183 41.6522 31.9034L47.0491 15.1524C47.1483 14.8639 47.3337 14.6134 47.5797 14.4352C47.8257 14.257 48.1203 14.1598 48.4232 14.1569C48.7247 14.1553 49.0187 14.251 49.2623 14.43C49.5059 14.6091 49.6861 14.8621 49.7767 15.1519L53.1875 25.7181L63.9205 25.7124L67.3238 15.1521C67.4143 14.8622 67.5946 14.6091 67.8382 14.43C68.0818 14.2508 68.3759 14.1551 68.6774 14.1568H68.6851C68.9863 14.1564 69.2799 14.2514 69.5246 14.4284C69.7693 14.6054 69.9525 14.8555 70.0485 15.1433L75.4486 31.9036C75.5831 32.3183 75.5837 32.7654 75.4502 33.1804C75.3167 33.5955 75.0561 33.9572 74.7057 34.2134L59.0336 45.6862C58.8943 45.7882 58.7265 45.843 58.5543 45.8429ZM48.4131 16.2419L43.2037 32.4114C43.1761 32.496 43.1758 32.5873 43.2029 32.6722C43.23 32.757 43.2831 32.831 43.3546 32.8835L58.5542 44.0045L73.7467 32.8832C73.8181 32.8307 73.8711 32.7568 73.8981 32.672C73.9251 32.5872 73.9247 32.496 73.897 32.4114L68.6878 16.2428L65.2897 26.7883C65.2365 26.9534 65.1328 27.0973 64.9935 27.1993C64.8542 27.3014 64.6865 27.3564 64.5143 27.3565L52.5958 27.3627H52.5954C52.4232 27.3627 52.2554 27.3078 52.1161 27.2058C51.9767 27.1038 51.873 26.96 51.8197 26.7949L48.4131 16.2419Z"
        fill="#380D75"
      />
    </g>
    <defs>
      <clipPath id="clip0">
        <rect width="88" height="60" fill="white" />
      </clipPath>
    </defs>
  </svg>
</template>

<style lang="scss" scoped>
.slpEventNavigationLogo {
  height: 88px;
  width: 100px;
  @media (min-width: $breakpoint-lg) {
    height: 112px;
    width: 126px;
  }
}
</style>
